[package]
name = "kubernix"
version = "0.2.0"
authors = ["Sascha Grunert <mail@saschagrunert.de>"]
edition = "2018"
license = "MIT"
categories = ["command-line-utilities"]
description = "Kubernetes development cluster bootstrapping with Nix packages"
documentation = "https://docs.rs/kubernix"
homepage = "https://github.com/saschagrunert/kubernix"
keywords = ["kubernetes", "nix", "nix-shell", "crio", "kube"]
readme = "README.md"
repository = "https://github.com/saschagrunert/kubernix"

[[bin]]
name = "kubernix"
path = "src/main.rs"

[dependencies]
anyhow = "1.0.31"
base64 = "0.12.2"
clap = { git = "https://github.com/clap-rs/clap", features = ["wrap_help"] }
console = "0.11.3"
crossbeam-channel = "0.4.2"
getset = "0.1.1"
hostname = "0.3.1"
indicatif = "0.15.0"
ipnetwork = "0.16.0"
lazy_static = "1.4.0"
log = { version = "0.4.8", features = ["serde", "std"] }
nix = "0.17.0"
parking_lot = "0.10.2"
proc-mounts = "0.2.4"
rand = "0.7.3"
rayon = "1.3.1"
serde = { version = "1.0.113", features = ["derive"] }
serde_json = "1.0.55"
serde_yaml = "0.8.13"
signal-hook = "0.1.16"
toml = "0.5.6"

[dev-dependencies]
tempfile = "3.1.0"
