[package]
name = "kubernix"
version = "0.2.0"
authors = ["Sascha Grunert <mail@saschagrunert.de>"]
edition = "2018"
license = "MIT"
categories = ["command-line-utilities"]
description = "Kubernetes development cluster bootstrapping with Nix packages"
documentation = "https://docs.rs/kubernix"
homepage = "https://github.com/saschagrunert/kubernix"
keywords = ["kubernetes", "nix", "nix-shell", "crio", "kube"]
readme = "README.md"
repository = "https://github.com/saschagrunert/kubernix"

[[bin]]
name = "kubernix"
path = "src/main.rs"

[dependencies]
ansi_term = "0.12.1"
anyhow = "1.0.18"
base64 = "0.11.0"
clap = { git = "https://github.com/clap-rs/clap", features = ["wrap_help"] }
crossbeam-channel = "0.3.9"
env_logger = "0.7.1"
getset = "0.0.9"
hostname = "0.1.5"
ipnetwork = "0.15.0"
log = { version = "0.4.8", features = ["serde"] }
nix = "0.15.0"
proc-mounts = "0.2.2"
rand = "0.7.2"
rayon = "1.2.0"
serde = { version = "1.0.102", features = ["derive"] }
serde_json = "1.0.41"
serde_yaml = "0.8.11"
signal-hook = "0.1.11"
toml = "0.5.4"

[dev-dependencies]
tempfile = "3.1.0"
