---
version: 2.1

executors:
  container:
    docker:
      - image: nixos/nix
  container-musl:
    docker:
      - image: ekidd/rust-musl-builder:stable

workflows:
  version: 2
  pipeline:
    jobs:
      - build
      - build-release
      - build-static
      - doc
      - doc-publish:
          requires:
            - doc
          filters:
            branches:
              only: master
      - lint-clippy
      - lint-rustfmt
      - test

prepare-env: &prepare-env
  run:
    name: Install dependencies
    command: |
      apk add bash ca-certificates curl findutils git make openssh

jobs:
  build:
    executor: container
    steps:
      - <<: *prepare-env
      - checkout
      - restore_cache:
          keys:
            - v1-build-{{ checksum "nix/nixpkgs.json" }}-{{ checksum "Cargo.lock" }}
      - run:
          name: build
          command: make
      - save_cache:
          key: v1-build-{{ checksum "nix/nixpkgs.json" }}-{{ checksum "Cargo.lock" }}
          paths:
            - /nix
            - target
            - ~/.cargo

  build-release:
    executor: container
    steps:
      - <<: *prepare-env
      - checkout
      - restore_cache:
          keys:
            - v1-build-release-{{ checksum "nix/nixpkgs.json" }}-{{ checksum "Cargo.lock" }}
      - run:
          name: build release
          command: make build-release
      - save_cache:
          key: v1-build-release-{{ checksum "nix/nixpkgs.json" }}-{{ checksum "Cargo.lock" }}
          paths:
            - /nix
            - target
            - ~/.cargo

  build-static:
    executor: container-musl
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-build-release-static-{{ checksum "Cargo.lock" }}
      - run:
          name: build static release
          command: cargo build --release
      - save_cache:
          key: v1-build-release-static-{{ checksum "Cargo.lock" }}
          paths:
            - target
            - ~/.cargo
      - store_artifacts:
          path: target/x86_64-unknown-linux-musl/release/kubernix

  doc:
    executor: container
    steps:
      - <<: *prepare-env
      - checkout
      - restore_cache:
          keys:
            - v1-doc-{{ checksum "nix/nixpkgs.json" }}-{{ checksum "Cargo.lock" }}
      - run:
          name: documentation
          command: make build-doc
      - save_cache:
          key: v1-doc-{{ checksum "nix/nixpkgs.json" }}-{{ checksum "Cargo.lock" }}
          paths:
            - target
      - persist_to_workspace:
          root: .
          paths:
            - target/doc

  doc-publish:
    executor: container
    steps:
      - <<: *prepare-env
      - add_ssh_keys:
          fingerprints:
            - c2:05:c6:97:5c:9d:17:b7:c8:84:fa:6d:05:55:75:8a
      - checkout
      - run:
          name: Setup git
          command: |
            git config --global user.email mail@saschagrunert.de
            git config --global user.name "CircleCI"
      - attach_workspace:
          at: .
      - run:
          name: Deploy documentation
          command: |
            git fetch origin gh-pages
            git checkout -f gh-pages
            rm -rf doc
            mv target/doc .
            git add .
            git diff-index --quiet HEAD || git commit -m 'Update documentation'
            git push -f origin gh-pages

  lint-clippy:
    executor: container
    steps:
      - <<: *prepare-env
      - checkout
      - restore_cache:
          keys:
            - v1-lint-clippy-{{ checksum "nix/nixpkgs.json" }}-{{ checksum "Cargo.lock" }}
      - run:
          name: clippy
          command: make lint-clippy
      - save_cache:
          key: v1-lint-clippy-{{ checksum "nix/nixpkgs.json" }}-{{ checksum "Cargo.lock" }}
          paths:
            - /nix
            - target
            - ~/.cargo

  lint-rustfmt:
    executor: container
    steps:
      - <<: *prepare-env
      - checkout
      - restore_cache:
          keys:
            - v1-lint-rustfmt-{{ checksum "nix/nixpkgs.json" }}-{{ checksum "Cargo.lock" }}
      - run:
          name: rustfmt
          command: make lint-rustfmt
      - save_cache:
          key: v1-lint-rustfmt-{{ checksum "nix/nixpkgs.json" }}-{{ checksum "Cargo.lock" }}
          paths:
            - /nix
            - target
            - ~/.cargo

  test:
    executor: container
    steps:
      - <<: *prepare-env
      - checkout
      - restore_cache:
          keys:
            - v1-test-{{ checksum "nix/nixpkgs.json" }}-{{ checksum "Cargo.lock" }}
      - run:
          name: test
          command: make test
      - save_cache:
          key: v1-test-{{ checksum "nix/nixpkgs.json" }}-{{ checksum "Cargo.lock" }}
          paths:
            - /nix
            - target
            - ~/.cargo
