---
version: 2.1

executors:
  container:
    docker:
      - image: nixos/nix
  container-musl:
    docker:
      - image: ekidd/rust-musl-builder:stable
  machine:
    machine:
      docker_layer_caching: true
      image: ubuntu-1604:201903-01

workflows:
  version: 2
  pipeline:
    jobs:
      - build
      - build-release
      - build-static
      - coverage
      - docs
      - docs-publish:
          requires:
            - docs
          filters:
            branches:
              only: master
      - lint-clippy
      - lint-rustfmt
      - test

prepare-env: &prepare-env
  run:
    name: Install dependencies
    command: |
      apk add bash ca-certificates curl findutils git make openssh

jobs:
  build:
    executor: container
    steps:
      - <<: *prepare-env
      - checkout
      - restore_cache:
          keys:
            - v1-build-{{ checksum "nix/nixpkgs.json" }}-{{ checksum "Cargo.lock" }}
      - run:
          name: build
          command: make
      - save_cache:
          key: v1-build-{{ checksum "nix/nixpkgs.json" }}-{{ checksum "Cargo.lock" }}
          paths:
            - /nix
            - target
            - ~/.cargo

  build-release:
    executor: container
    steps:
      - <<: *prepare-env
      - checkout
      - restore_cache:
          keys:
            - v1-build-release-{{ checksum "nix/nixpkgs.json" }}-{{ checksum "Cargo.lock" }}
      - run:
          name: build release
          command: make build-release
      - save_cache:
          key: v1-build-release-{{ checksum "nix/nixpkgs.json" }}-{{ checksum "Cargo.lock" }}
          paths:
            - /nix
            - target
            - ~/.cargo

  build-static:
    executor: container-musl
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-build-release-static-{{ checksum "Cargo.lock" }}
      - run:
          name: build static release
          command: cargo build --release
      - save_cache:
          key: v1-build-release-static-{{ checksum "Cargo.lock" }}
          paths:
            - target
            - ~/.cargo
      - store_artifacts:
          path: target/x86_64-unknown-linux-musl/release/kubernix

  test:
    executor: machine
    steps:
      - checkout
      - run:
          name: test and coverage upload
          environment:
            IMAGE: saschagrunert/build-rust
          command: |
            docker pull $IMAGE
            docker run --security-opt seccomp=unconfined -v $(pwd):/build \
              -w /build --network=host -e CODECOV_TOKEN $IMAGE \
              bash -c "\
                cargo kcov && \
                bash <(curl -s https://codecov.io/bash)"

  docs:
    executor: container
    steps:
      - <<: *prepare-env
      - checkout
      - restore_cache:
          keys:
            - v1-doc-{{ checksum "nix/nixpkgs.json" }}-{{ checksum "Cargo.lock" }}
      - run:
          name: documentation
          command: make docs
      - save_cache:
          key: v1-doc-{{ checksum "nix/nixpkgs.json" }}-{{ checksum "Cargo.lock" }}
          paths:
            - target
      - persist_to_workspace:
          root: .
          paths:
            - target/doc

  docs-publish:
    executor: container
    steps:
      - <<: *prepare-env
      - add_ssh_keys:
          fingerprints:
            - 41:39:b6:90:56:40:a9:52:0b:c2:f7:77:6a:ef:1f:fc
      - checkout
      - run:
          name: Setup git
          command: |
            git config --global user.email mail@saschagrunert.de
            git config --global user.name "CircleCI"
      - attach_workspace:
          at: .
      - run:
          name: Deploy documentation
          command: |
            git fetch origin gh-pages
            git checkout -f gh-pages
            rm -rf doc
            mv target/doc .
            git add .
            git diff-index --quiet HEAD || git commit -m 'Update documentation'
            git push -f origin gh-pages

  lint-clippy:
    executor: container
    steps:
      - <<: *prepare-env
      - checkout
      - restore_cache:
          keys:
            - v1-lint-clippy-{{ checksum "nix/nixpkgs.json" }}-{{ checksum "Cargo.lock" }}
      - run:
          name: clippy
          command: make lint-clippy
      - save_cache:
          key: v1-lint-clippy-{{ checksum "nix/nixpkgs.json" }}-{{ checksum "Cargo.lock" }}
          paths:
            - /nix
            - target
            - ~/.cargo

  lint-rustfmt:
    executor: container
    steps:
      - <<: *prepare-env
      - checkout
      - restore_cache:
          keys:
            - v1-lint-rustfmt-{{ checksum "nix/nixpkgs.json" }}-{{ checksum "Cargo.lock" }}
      - run:
          name: rustfmt
          command: make lint-rustfmt
      - save_cache:
          key: v1-lint-rustfmt-{{ checksum "nix/nixpkgs.json" }}-{{ checksum "Cargo.lock" }}
          paths:
            - /nix
            - target
            - ~/.cargo

  test:
    executor: container
    steps:
      - <<: *prepare-env
      - checkout
      - restore_cache:
          keys:
            - v1-test-{{ checksum "nix/nixpkgs.json" }}-{{ checksum "Cargo.lock" }}
      - run:
          name: test
          command: make test
      - save_cache:
          key: v1-test-{{ checksum "nix/nixpkgs.json" }}-{{ checksum "Cargo.lock" }}
          paths:
            - /nix
            - target
            - ~/.cargo
