---
name: test
on:
  - push

jobs:
  integration:
    runs-on: ubuntu-latest
    steps:
      - name: install dependencies
        run: |
          sudo apt-get update -y
          sudo apt-get install -y expect
      - uses: actions/checkout@v1
      - uses: cachix/install-nix-action@v3
      - name: run kubernix
        run: |
          ln -sf /home/runner/.nix-profile/bin/nix-shell /usr/bin/nix-shell
          make test-integration
